/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* BTV Web Page - CSS*/

body > div {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid #68939F;
    border-radius: 7px;
    background-color: #1E3741;
    width: 720px;
    height: 315px;
}

body div nav ul {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 12px;
    color: #85A6AD;
}

    body div nav ul li {
        display: inline;
        font-family: Verdana;
        font-size: 10px;
        font-weight: bold;
        background-color: #4B5F67;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -2px;
    }

        body div nav ul li:first-of-type {
            background: none;
            color: white;
        }

        body div nav ul li:not(:first-of-type):hover {
            text-decoration: underline;
            cursor: default;
        }

body div aside {
    margin-top: 25px;
}

    body div aside div {
        border-top: 1px solid #334952;
        width: 250px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 5px;
        text-align: left;
    }

        body div aside div:last-of-type {
            padding-bottom: 2px;
        }

        body div aside div:hover {
            background-color: #00968C;
            cursor: default;
        }

            body div aside div:hover span {
                color: white;
                cursor: default;
            }

        body div aside div span {
            font-family: Verdana;
            font-size: 11px;
            font-weight: bold;
            color: #85A6AD;
        }

body div figure img {
    position: absolute;
    top: 53px;
    left: 265px;
    width: 440px;
    height: 248px;
}

#PlayButton{
    position: absolute;
    top: 150px;
    left: 475px;
    background-color: rgba(116, 113, 113, 0.90);
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50px;
    width: 54px;
    height: 54px;
    z-index: 1;
}

#PlayButton span{
    font-size: 30px;
    color: white;
    padding-left: 5px;
}

video{
    position: absolute;
    top: 52px;
    left: 265px;
    width: 440px;
    height: 250px;
    visibility: hidden;
}

