/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Music Categories CSS*/

#MusicCategoriesField{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    background-color: #EEEEEE;
    width: 25em;
    height: 31em;
}

#FieldName{
    margin-top: 15px;
    margin-left: 10px;
    font-family: Arial;
    
}

.SubField{
    position: relative;
    margin-top: 35px;
    margin-left: 10px;
    border: 1px solid #766d6d;
    background-color: #FFFFFF;
    width: 23.7em;
    height: 7em;
}

.SubField > .Picture{
    margin-top: 10px;
    margin-left: 10px;
    height: 5.7em;
    width: 8em;
    float: left;
}

.SubField > div{
    font-family: Verdana;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    margin-left: 150px;
    width: 200px;
}

.SubField > div span{
    font-weight: bold;
}

.SubField > #FirstButton{
    position: absolute;
    left: 230px;
    top: 50px;
    height: 80px;   
    z-index: 1;
}

.SubField > #SecondButton{
    position: absolute;
    left: 303px;
    top: 50px;
    height: 80px;
    width: 58px;
    z-index: 1;
}

#FirstButtonName{
    position: absolute;
    z-index: 2;
    margin-top: 83px;
    margin-left: 112px;
    color: white;
}

#SecondButtonName{
    position: absolute;
    z-index: 2;
    margin-top: 83px;
    margin-left: 178px;
    color: white;
}