body div{
    margin-bottom: 15px;
}

body div label{
    font-family: Consolas;
    font-size: 16px;
}

body div label:last-of-type{
    margin-left: 10px;
}

body div button{
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: #0094ff;
    font-weight: bold;
}

#input-text{
    width: 370px;
}

#input-word{
    width: 80px;
}
