body {
  border-radius: 10px;
  width: 1200px;
  height: 630px;
  background: url(/02.WebGallery/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

figure ul {
  list-style-type: none;
  text-align: right;
  width: 1093px;
}
figure ul li {
  display: inline;
}
figure ul li img {
  width: 100px;
  height: 100px;
}

div img {
  position: absolute;
  top: 130px;
  left: 148px;
  width: 1029px;
  height: 500px;
  visibility: hidden;
  border: 2px solid white;
}
