body div:first-of-type{
    margin-bottom: 10px;
}

#query-selector{
    padding-bottom: 2px;
    padding-top: 2px;
    border: 1px solid black;
    background-color: #0094ff;
}

#tag-name{
    padding-bottom: 2px;
    padding-top: 2px;
    border: 1px solid black;
    background-color: #00ff21;
}